.Success {
  display: none;
  text-align: center;
  margin-top: 3rem;
  color: var(--color-green);
  font-size: 1.3rem;
  font-weight: 700;
  transition: opacity 1s ease-out;
}

.Success.Show {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
